<p>
  <strong>First Name </strong><br>
  <%= @author.first_name%>
</p>

<p>
  <strong>Last Name </strong><br>
  <%= @author.last_name %>
</p>

<p>
  <strong>Homepage </strong><br>
  <%= @author.homepage %>
</p>